body {
  text-align: center;
}
* {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}
.galerry {
  display: flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*border: 5px solid red;*/
  width: 100%;
  height: 100%;
}
