* {
    box-sizing: border-box;
}

body {
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/background-three.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.header-fixed {
    padding: 10px;
    width: 100%;
    height: 110px;
    background-color: black;
    opacity: 60%;
    position: fixed;
    line-height: 78px;
    display: inline-block;
    border-bottom: 2px solid gray;
    /*border: 2px solid red;*/
}

.header-text {
    line-height: 78px;
    color: white;
    font-family: "Times New Roman", sans-serif;
    font-weight: 500;
    font-size: 50px;
    font-style: italic;
    padding-left: 100px;
    height: 100%;
    display: inline-block;
}

.header-fixed-flex {
    /*border: 2px solid blue;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img-2021 {
    /*border: 2px solid greenyellow;*/
    display: inline-block;
    width: 190px;
    height: 80px;
}

.text-2021 {
    /*border: 2px solid rebeccapurple;*/
    display: inline-block;
    width: 1500px;
    height: 80px;
}

.clock-2021 {
    text-align: center;
    /*border: 2px solid green;*/
    display: inline-block;
    width: 190px;
    height: 80px;
}

.clock {
    display: inline-block;
}

.text {
    padding-top: 10px;
    padding-left: 10px;
}

.container {
    /*border: 2px solid blue;*/
    padding: 110px 0;
}

.container-line {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    /*border: 2px solid red;*/
}

.button-press {
    width: 100%;
    height: 100%;
    background: none;
    border: 2px solid gray;
    border-radius: 8px;
    opacity: 90%;
}

.all-text {
    font-weight: 900;
    padding-top: 10px;
    height: 160px;
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    font-style: italic;
    color: #ff74fa;
    filter: brightness(100%);
    font-size: 50px;
    /*border: 2px solid greenyellow;*/
}

.box {
    margin-bottom: 10px;
    width: 300px;
    height: 200px;
    background-color: black;
    border: 2px solid gray;
    border-radius: 10px;
    opacity: 60%;
    display: inline-block;
    text-align: center;
}

.all {
    width: 100%;
    height: 100%;
    /*border: 2px solid blue;*/
}

.url-text {
    font-family: "Times New Roman", sans-serif;
    text-align: center;
    font-style: italic;
    color: white;
    font-weight: 500;
    font-size: 23px;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    /*border: 2px solid green;*/
}

.button-press:hover {
    background-color: #000015;
}
